@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.app{
  /* border: 5px solid red; */
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
  background-color: #ebebeb;
}

.title {
  text-align: center;
  margin: 5px 0;
  font-size: 23px;
}

.main {
  margin-top: 10px;
  border: 3px solid #dddddd;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.name {
  display: flex;
  font-size: 22px;
  font-weight: 700;
  padding: 8px 16px;
  color: #7e7e7e;
  background-color: #2d2d2d;
}

.name p {
  color: #bbb;
  margin-left: 8px;
}

.name-input {
  font-size: 20px;
  font-weight: 400;
  color: #7e7e7e;
  flex-grow: 1;
  border: none;
  margin: 0px 12px;
  outline: none;
  background-color: #2d2d2d;
}

.message-container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100%;
  height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.message-left,
.message-right {
  list-style: none;
  padding: 5px 10px;
  margin: 8px;
  max-width: 250px;
  font-size: 15px;
  word-wrap: break-word;
}

.message-left {
  border-radius: 15px 15px 15px 0px;
  align-self: flex-start;
  background-color: #fff;
  box-shadow: -2px 2px 4px #dcdcdc;
}

.message-right {
  border-radius: 15px 15px 15px 0px;
  align-self: flex-end;
  background-color: #2d2d2d;
  box-shadow: 2px 2px 4px #dcdcdc;
  color: #f6f6f6;
}

.message-left>p>span,
.message-right>p>span {
  display: block;
  font-style: italic;
  font-size: 10px;
  margin-top: 4px;
  color: #7a7777;
}

.feedback {
  font-style: italic;
  font-size: 10px;
  padding: 0px 16px 16px 16px;
  color: #2d2d2d;
  text-align: center;
}

.message-form {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.message-input {
  flex-grow: 0;
  width: 75%;
  height: 48px;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 0 12px;
  background-color: #fff;
}

.send-button {
  width: 98px;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  /* justify-content: center; */
  /* margin-left: -80px; */
  height: 48px;
  font-size: 13px;
  border: none;
  /* padding-left: -70px; */
  padding: 0px 0px;
  outline: none;
  background-color: #fff;
  cursor: pointer;
}

.send-button span {
  margin-left: 20px;
}

.v-divider {
  height: 48px;
  width: 2px;
  background-color: #f6f6f6;
}

.clients-total {
  margin: 10px 0;
  color: #7e7e7e;
  font-size: 15px;
  text-align: center;
}

.divi {
  /* border: 1px solid red; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.divi h1 {
  margin-bottom: 15px;
  font-size: 22px;
}
.head span{
  columns: #ccc;
}

.input-wrap {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 95%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.input-wrap input {
  width: 90%;
  height: 40px;
  padding: 10px;
  font-size: 13px;
  outline: none;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.input-wrap button {
  /* width: 70%; */
  /* height: 40px; */
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bolder;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

.input-wrap button:active {
  background-color: #2d2d2d;
  color: white;
}

.mem-btn{
  /* background-color: #2d2d2d; */
  border: 1px solid white;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  font-size: 20px;
  transform: translateX(170px);
}